.App {
  background: #FBFAF9;
  background-image: linear-gradient(#DFC4BC, #DFC4BC);
  background-repeat: no-repeat;
  background-position: right top;
  /* height: 100vh; */
  overflow: no-scroll;
}

/* Styles for screens up to 500px */
@media screen and (max-width: 500px) {
  .App {
    background-size: calc(100% - 100px) 300px;
  }
}

/* Styles for screens from 501px to 3000px */
@media screen and (min-width: 501px) and (max-width: 3000px) {
  .App {
    background-size: calc(100% - 250px) 550px;
  }
}